$titulos : (
    tituloIndex : rgba(204, 148, 7, 0.959),
    tituloAgentes: rgba(104, 96, 78, 0.959),
    tituloEmpresa: rgba(14, 13, 12, 0.959),
    tituloPropiedades: rgba(255, 183, 0, 0.959),
    tituloContacto: rgba(226, 226, 226, 0.959),
);

.tituloIndex{
    color: map-get($map:titulos , $key:tituloIndex );
}
.tituloAgentes{
    color: map-get(titulos , tituloAgentes );
}
.tituloEmpresa{
    color: map-get(titulos , tituloEmpresa );
}
.tituloPropiedades{
    color: map-get(titulos , tituloPropiedades );
}
.tituloContacto{
    color: map-get(titulos , tituloContacto );
}